@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Delicious+Handrawn&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.btn{
    background-color: black;
    color:yellow;
    padding:10px;
    margin-left: 20px;
    margin-top: 20px;
    /* border-radius: 30px; */
}
.btn:hover{
    background-color: red;
    color:orange;
    border-radius: 0px;
}
.box{
    background-color: red;
    width: 300px;
    height: 300px;
    /* border-radius: 30px; */
    margin-left: 300px;
    margin-top: 30px;
    border:10px solid;
    border-top-color:orange;
    border-bottom-color:orange;
    border-top-right-radius:20px 
    /* border-top-right-radius: 10px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 100px; */
}

img:hover{
/* transform: rotateX(180deg); */
/* transform: translateX(30px); */
/* transform: translateY(30px); */
/* transform: scaleX(-0.7); */
/* transform: scaleY(0.5); */
/* transform: skewY(35deg); */
/* transform: translateX(); */
/* transform: scale(1.2); */

}
.name{
    font-family: 'Delicious Handrawn', cursive;
    font-size: 30px;
}





